.toolbar {
  width: 80px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 20px 0px;
}

.toolbar ul {
  padding: 0;
  margin: 0;
  width: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  gap: 30px;
}

.logoutButton {
  height: 45px;
  background: transparent;
  border: 0;
  color: rgb(140, 0, 0)
}