.fieldContainer{
  display: flex;
  flex-direction: row;
  align-items: stretch;
  background: #FFFFFF;
  border-radius: 12px;
  transition: all 0.25s;
}

.delete {
  width: 37px;
  background: #F9A109;
  border-radius: 12px;
  color: #fff;
  border: 0;
}

.minusPlus {
  color: #F9A109;
  background: transparent;
  width: 37px;
  border: 0;
}

.amount {
  width: 68px;
  height: 32px;
  border: 2px solid #F9A109;
  border-radius: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: transparent;
  margin: 10px 0px;
}

.amountText {
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  color: #F9A10A;
}