.itemContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 6px;
}

.itemName {
  flex: 1;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: #000000;
}

.check {
  width: 20px;
  color: #F9A109;
  margin-right: 10px;
}

.crossWord {
  text-decoration-line: line-through;
}