.container {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 25px;
}

.name {
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
  color: #000000;
  margin: 0px;
}