.mainContainer {
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: rgb(229, 229, 229);
}

.formContainer {
  max-width: 500px;
  width: 80%;
  background-color: #fff;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  padding: 25px 20px;
}

.formContainer form {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  gap: 10px;
}

.title {
  align-self: center;
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 15px;
}

.submitButton {
  background: #F9A109;
  color: #fff;
  height: 40px;
}

.secondaryButton {
  margin-top: 20px;
}