.category {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
}

.categoryTitle {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  color: #000000;
}

.itemsContainer {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
  padding: 15px 0px;
  gap: 20px;
}