.item {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  border: 0;
  background: #FFFFFF;
  box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.05);
  border-radius: 12px;
  width: 200px;
  padding: 0px 17px;
}

.nameContainer {
  flex: 1;
  height: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.itemName {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
}

.plus {
  width: 30px;
  height: 100%;
  background: transparent;
  border: 0;
  color: #C1C1C4;
}

.amount {
  width: 68px;
  height: 32px;
  border: 2px solid #F9A109;
  border-radius: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: transparent;
  margin: 10px 0px;
}

.amountText {
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  color: #F9A10A;
}

.noBorder {
  border: 0;
}