.container {
  position: fixed;
  width: 390px;
  height: 100vh;
  right: 0;
  top: 0;
  background-color: rgb(243, 243, 243);
  padding: 30px 0px 0px 0px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  overflow: auto;
}

.container form {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.title {
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 30px;
  color: #000000;
  margin: 0px 30px 25px 30px;
}

.fields {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  margin: 0px 30px;
}

.label {
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
  color: #34333A;
  margin-bottom: 5px;
}

.field {
  margin-bottom: 15px;
}



.toolbar {
  height: 130px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0px 25px;
  background: transparent;
  gap: 30px;
}

.cancel {
  height: 61px;
  width: 87px;
  background: transparent;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #34333A;

}

.save {
  height: 61px;
  width: 87px;
  background: #F9A109;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
}

.note {
  height: 100px;
}

.noteField {
  resize: none;
}

@media only screen and (max-width: 992px) {
  .container {
    left: 80px;
    width: auto;
  }
}