.mainContainer {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  padding: 30px 60px;
  gap: 20px;
}

.title {
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 32px;
  color: #34333A;
  margin: 0px 0px 20px 0px;
}

@media only screen and (max-width: 992px) {
  .mainContainer {
    padding: 20px 10px;
  }
}